body {
  background: #989898 !important;
  margin: 2% 10% 0 10% !important;
}

#mainTitle {
  text-align: center;
  color:#209cee;
}

#balloon {
  text-align: center;
  width: 65%;
  margin-left: 15%;
  margin-top: 5%;
}

#brikko {
  size: 10em;
  margin-left: 6%;
  margin-bottom: 2.5%;
}

input {
  margin-top: 2.5% !important;
  margin-bottom: 5% !important;

}

#bottomNote {
  color: #989898 !important;
  margin: 3% 0 1% 0;
  text-align: center;
  font-size: 70%;
}

#exitBtn {
  margin-left: 90%;
}

.congratzMex  {
  text-align: center;
  margin: 5% 0 2% 0;
}

/*
#dataContI {
  margin: 5%;
  text-align: center;
  display: inline-block;
  width: 45%;
  margin-left: 5%;
}

#dataContII {
  margin: 15%;
  text-align: center;
  display: inline-block;
  width: 45%;
  margin-left: 85%;
} */
